body {
}

.dig-body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
    position: relative;
}

.dig-tools {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 3px;
    height: 33px;
    background: linear-gradient(to bottom,#ebebeb,#ddd);
    width: 100%;
    border-bottom: 1px solid #ccc;
}

    .dig-tools a {
        display: inline-block;
        color: #222;
        padding: 3px 5px;
        margin-right: 10px;
        font-size: 14px;
        border-radius: 4px;
        text-decoration: none;
        border-radius: 2px;
        line-height: 20px;
    }

        .dig-tools a:hover {
            color: #ff6a00;
        }

        .dig-tools a img {
            display: inline-block;
            vertical-align: top;
            height: 20px;
            margin-right: 5px;
        }

.dig-form {
    padding: 33px 0px 0px;
    width: 100%;
    height: 100%;
}

.dig-form-box {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: auto;
}

.dig-line {
    padding: 5px;
}

.dig-label {
    padding: 5px 8px 0px;
    font-size: 14px;
}

.dig-input {
    padding: 0px 5px;
}

    .dig-input input[type=text], .dig-input select {
        border: 1px solid #ccc;
        padding: 3px 5px;
        font-size: 14px;
        border-radius: 3px;
    }
