@page
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/Desktop.cshtml";
}

<dpzp sign="Authorization_List">
    <div class="pg-body">
        <div class="pg-nav-line">
            <div class="pg-nav"><s>系统授权管理</s><i></i><s>所有授权</s><i></i></div>
        </div>
        <div class="pg-tools"><a href="javascript:;" v-on:click="onAdd"><img v-bind:src="Images.Add" />添加授权</a><a href="javascript:;" v-on:click="onDetect"><img v-bind:src="Images.Detect" />检测数据库</a><a href="javascript:;" v-on:click="onRefresh"><img v-bind:src="Images.Refresh" />刷新列表</a></div>
        <div class="pg-list">
            <table>
                <tr>
                    <th style="width:150px;">账套名称</th>
                    <th style="width:150px;">账套标识</th>
                    <th style="width:150px;">数据库类型</th>
                    <th style="width:320px;">序列号</th>
                    <th style="width:250px;">密钥</th>
                    <th style="width:100px;">数据库状态</th>
                    <th style="width:250px;">操作项</th>
                </tr>
                <tr v-for="row in list" v-bind:key="row.ID">
                    <td>{{row.Name}}</td>
                    <td>{{row.DBSign}}</td>
                    <td>{{row.DBType}}</td>
                    <td>{{row.Code}}</td>
                    <td>{{row.SecurityKey}}</td>
                    <td>
                        <template v-if="row.DBStatus===''">
                            <a href="javascript:;" v-on:click="onOneDetect($event,row)">未检测</a>
                        </template>
                        <template v-else-if="row.DBStatus==='no'">
                            <a href="javascript:;" v-on:click="onOneSetup($event,row)">安装</a>
                        </template>
                        <template v-else>
                            <span>已安装</span>
                        </template>
                    </td>
                    <td>[<a href="javascript:;" v-on:click="onSetup($event,row)">安装数据表</a>] [<a href="javascript:;" v-on:click="onEdit($event,row)">修改</a>] [<a href="javascript:;" v-on:click="onDelete($event,row)">删除</a>]</td>
                </tr>
            </table>
        </div>
    </div>
</dpzp>

