body {
}

.dig-body {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #f0f0f0;
}

.dig-list {
    padding: 10px;
    min-height: 100px;
}

    .dig-list ul {
        padding: 0px;
        margin: 0px;
    }

    .dig-list li {
        padding: 0px;
        margin: 0px;
    }

.dig-list-line, .dig-list-line-header {
    margin: 2px 0px 0px 0px;
    background: #fff;
    border-radius: 4px;
    color: #333;
    padding: 3px 5px;
    font-size: 12px;
    line-height: 18px;
}

.dig-list-line-header {
    background: #0094ff;
    color: #fff;
    font-size: 14px;
    line-height: unset;
}

.dig-list-name {
    float: left;
    width: 150px;
    word-break: break-all;
    word-wrap: break-word;
}

.dig-list-sign {
    float: left;
    width: 150px;
    word-break: break-all;
    word-wrap: break-word;
}

.dig-list-act {
    float: left;
    width: 60px;
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
}

    .dig-list-act a {
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1px solid #aaa;
        border-radius: 2px;
        color: #00aa00;
        text-align: center;
        line-height: 16px;
        text-decoration: none;
        font-weight: bold;
    }

        .dig-list-act a:hover {
            border: 1px solid #ff6a00;
        }

.dig-list-opreate {
    float: left;
    width: 60px;
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
}

.dig-list-exp {
    font-size: 10px;
    color: #676767;
}
