@page
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/Desktop.cshtml";

    string cachePath = System.IO.Directory.GetCurrentDirectory() + site.Config.Orm.CachePath;
    Dictionary<string, string> cache = new Dictionary<string, string>();
    dpz.Mvc.UI.XmlUIForVue ui = new dpz.Mvc.UI.XmlUIForVue(site.Config.Database.Aos, cache, site.Config.Orm.XmlUrl, cachePath);
}

<dpzp sign="Manage_Authorization_Add">
    <div class="dig-body">
        <div dpz-id="Tool" class="dig-tools">
            <a href="javascript:;" v-on:click="onSave"><img v-bind:src="Images.Save" />保存</a>
            <a href="javascript:;" v-on:click="onCancel"><img v-bind:src="Images.Cancel" />取消</a>
        </div>
        <div dpz-id="Form" class="dig-form">
            <div class="dig-form-box">
                @Html.Raw(ui.GetAddFormHtml("Aos","AosDesktops"))
            </div>
        </div>
    </div>
</dpzp>

