@page
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/Desktop.cshtml";
}

<dpzp sign="Desktop_Setting_Pwd">
    <div class="pg-nav"><div class="pg-nav-box"><div class="pg-nav-title">{{Title}}</div></div></div>
    <div class="pg-form">尚未设置概览信息</div>
</dpzp>

