body {
}

.desktop-main-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.desktop-main-header {
    position: absolute;
    left: 0px;
    top: -100px;
    width: 100%;
    height: 50px;
    background: #262626;
    opacity: 0;
    /*background: linear-gradient(#0094ff,#007db7);
    border-bottom: 1px solid #004e72;*/
}

.desktop-main-header-rect {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
}

.desktop-main-header-logo {
    float: left;
    padding: 10px;
}

    .desktop-main-header-logo img {
        display: block;
        width: 30px;
        height: 30px;
        /*background: #f0f0f0;*/
    }

.desktop-main-header-info {
    float: left;
    padding: 0px 0px 0px 10px;
    text-shadow: 1px 1px 2px #004e72;
    font-size: 14px;
    color: #fff;
    line-height: 50px;
}

.desktop-main-header-nick {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.desktop-main-header-button {
    float: right;
    margin: 0px 10px 0px 0px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

    .desktop-main-header-button a {
        display: block;
        padding: 13px 10px;
        text-decoration: none;
        color: #fff;
        text-shadow: 1px 1px 2px #004e72;
        font-size: 14px;
        line-height: 24px;
    }

        .desktop-main-header-button a:hover {
            background: #000;
        }

        .desktop-main-header-button a div {
            display: inline-block;
            vertical-align: middle;
            line-height: 30px;
            height: 30px;
            overflow: hidden;
        }

    .desktop-main-header-button img {
        display: block;
        height: 24px;
    }

.desktop-main-menu {
    position: absolute;
    left: -100px;
    bottom: 0px;
    width: 50px;
    height: calc(100% - 50px);
    background: #262626;
    opacity: 0;
    border-top: 1px solid #676767;
    background-repeat: repeat-y;
    z-index: 10;
    overflow: hidden;
}

    .desktop-main-menu dl {
        padding: 0px;
        margin: 0px;
    }

    .desktop-main-menu dt {
        float: left;
        padding: 0px;
        margin: 0px;
        width: 50px;
        min-height: 1px;
        padding: 3px 13px;
        margin-top: 10px;
    }

        .desktop-main-menu dt img {
            display: block;
            width: 100%;
        }

    .desktop-main-menu dd {
        float: left;
        padding: 0px;
        margin: 0px;
        width: calc(100% - 50px);
        min-height: 30px;
        margin-top: 10px;
    }

        .desktop-main-menu dd a, .desktop-main-menu dd s {
            display: block;
            width: 100%;
            padding: 0px 10px;
            line-height: 30px;
            text-decoration: none;
            color: #fff;
            font-size: 14px;
        }

            .desktop-main-menu dd a:hover {
                background: linear-gradient(to right,rgb(255,255,255,0),rgb(255,255,255,0.3));
            }

        .desktop-main-menu dd s {
            font-size: 16px;
            text-shadow: 1px 1px 2px #004e72;
        }

.desktop-main-menu-line {
    width: 220px;
    height: 40px;
}

    .desktop-main-menu-line a {
        display: block;
        width: 100%;
        color: #fff;
    }

        .desktop-main-menu-line a:hover {
            background: #000;
        }

        .desktop-main-menu-line a i {
            display: inline-block;
            width: 50px;
            vertical-align: middle;
            padding: 12px 13px;
            font-style: normal;
            text-decoration: none;
        }

            .desktop-main-menu-line a i img {
                display: block;
                width: 24px;
                height: 24px;
            }

        .desktop-main-menu-line a s {
            display: inline-block;
            width: calc(100% - 50px);
            vertical-align: middle;
            padding: 9px 10px;
            overflow: hidden;
            line-height: 30px;
            font-size: 14px;
            font-style: normal;
            text-decoration: none;
            color: #fff;
        }

.desktop-main-menu-title {
    border-bottom: 1px solid #676767;
    height: 48px;
    overflow: hidden;
}

    .desktop-main-menu-title dt {
        margin: 10px 0px 10px;
    }

    .desktop-main-menu-title dd {
        margin: 10px 0px 10px;
    }

.desktop-main-menu-box {
    width: 220px;
    height: calc(100% -30px);
    overflow-x: hidden;
    overflow-y: auto;
}

    .desktop-main-menu-box a {
        display: block;
        width: 100%;
        color: #fff;
    }

        .desktop-main-menu-box a:hover {
            background: #000;
        }

        .desktop-main-menu-box a i {
            display: inline-block;
            width: 50px;
            vertical-align: middle;
            padding: 12px 13px;
            font-style: normal;
            text-decoration: none;
        }

            .desktop-main-menu-box a i img {
                display: block;
                width: 24px;
                height: 24px;
            }

        .desktop-main-menu-box a s {
            display: inline-block;
            width: calc(100% - 50px);
            vertical-align: middle;
            padding: 9px 10px;
            overflow: hidden;
            line-height: 30px;
            font-size: 14px;
            font-style: normal;
            text-decoration: none;
            color: #fff;
        }

.desktop-main-body {
    position: absolute;
    right: -100px;
    bottom: 0px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    background: #ffffff;
    opacity: 0;
    margin-left: 100px;
}
