@page
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/Desktop.cshtml";

    string cachePath = System.IO.Directory.GetCurrentDirectory() + site.Config.Orm.CachePath;
    Dictionary<string, string>
    cache = new Dictionary<string, string>
        ();
        dpz.Mvc.UI.XmlUIForVue ui = new dpz.Mvc.UI.XmlUIForVue(site.Config.Database.Aos, cache, site.Config.Orm.XmlUrl, cachePath);
}

<dpzp sign="Authorization_List">
    <div class="pg-body">
        <div class="pg-nav-line">
            <div class="pg-nav"><s>用户授权关联</s><i></i></div>
        </div>
        <div class="pg-content">
            <div class="pg-catalog">
                <div class="pg-catalog-title">用户列表</div>
                <div class="pg-catalog-list">
                    <ul v-for="user in users" v-bind:key="user.ID">
                        <li>
                            <template v-if="user.Selected===''">
                                <a href="javascript:;" v-on:click="onChangeUser($event,user)">{{user.Name}}({{user.Nick}})</a>
                            </template>
                            <template v-else>
                                <span>{{user.Name}}({{user.Nick}})</span>
                            </template>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pg-list-area">
                <div class="pg-list">
                    <table>
                        <tr>
                            <th style='min-width:60px;max-width:60px;'>序号</th>
                            <th style='min-width:150px;max-width:150px;'>授权名称</th>
                            <th style='min-width:80px;max-width:80px;text-align:center;'>关联状态</th>
                        </tr>
                        <tr v-for="(row,index) in list" v-bind:key="row.ID">
                            <td>{{index+1}}</td>
                            <td>{{row.Name}}</td>
                            <td style="text-align:center;">
                                <a href="javascript:;" v-on:click="onCheck($event,row)">
                                    <template v-if="row.Check==='yes'">
                                        <span style="color:#00aa00;">√</span>
                                    </template>
                                    <template v-else>
                                        <span style="color:#676767;">×</span>
                                    </template>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</dpzp>

