@page
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/Desktop.cshtml";
}

<dpzp sign="Authorization_Setup">
    <div class="pg-body">
        <div class="pg-nav-line">
            <div class="pg-nav"><s>系统授权管理</s><i></i><a href="javascript:;" v-on:click="goList">所有授权</a><i></i><s>{{Args.Name}}</s><i></i><s>安装应用</s><i></i></div>
        </div>
        <div class="pg-list">
            <table>
                <tr>
                    <th style="width:60px;min-width:60px;max-width:60px;">序号</th>
                    <th style="width:150px;min-width:150px;max-width:150px;">应用标识</th>
                    <th style="width:150px;min-width:150px;max-width:150px;">应用名称</th>
                    <th style="width:150px;min-width:150px;max-width:150px;">应用路径</th>
                    <th style="width:150px;min-width:150px;max-width:150px;">应用描述</th>
                    <th style="width:150px;min-width:150px;max-width:150px;">配置版本</th>
                    <th style="width:150px;min-width:150px;max-width:150px;">安装版本</th>
                    <th style="width:250px;min-width:150px;max-width:150px;">操作项</th>
                </tr>
                <tr v-for="(row,index) in list" v-bind:key="row.ID">
                    <td>{{index+1}}</td>
                    <td>{{row.Name}}</td>
                    <td>{{row.Title}}</td>
                    <td>{{row.Path}}</td>
                    <td>{{row.Description}}</td>
                    <td>{{row.Version}}</td>
                    <td>{{row.SetupVersion}}</td>
                    <td>
                        <template v-if="row.NeedUpdate!=='no'">
                            <a href="javascript:;" v-on:click="onUpdate($event,row)">安装或更新</a>
                        </template>
                        <template v-else>
                            <span>-</span>
                        </template>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</dpzp>

