@page
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/Desktop.cshtml";

    string cachePath = System.IO.Directory.GetCurrentDirectory() + site.Config.Orm.CachePath;
    Dictionary<string, string> cache = new Dictionary<string, string>();
    dpz.Mvc.UI.XmlUIForVue ui = new dpz.Mvc.UI.XmlUIForVue(site.Config.Database.Aos, cache, site.Config.Orm.XmlUrl, cachePath);
}

<dpzp sign="Authorization_List">
    <div class="pg-body">
        <div class="pg-nav-line">
            <div class="pg-nav"><s>授权管理</s><i></i><s>所有授权</s><i></i></div>
        </div>
        <div class="pg-tools"><a href="javascript:;" v-on:click="onAdd"><img v-bind:src="Images.Add" />添加授权</a><a href="javascript:;" v-on:click="onDetect"><img v-bind:src="Images.Detect" />检测数据库</a><a href="javascript:;" v-on:click="onRefresh"><img v-bind:src="Images.Refresh" />刷新列表</a></div>
        <div class="pg-list">
            @Html.Raw(ui.GetTableHtml("Aos","AosAuthorize"))
        </div>
    </div>
</dpzp>

